.home {
  &-modal {
    width: 750px;
    max-height: 500px;
    &-content {
      &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
    &-title {
      font-size: 16px;
      font-weight: 600;
      color: white;
      text-align: center;
    }
    &-value-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
      justify-content: space-between;
      @media (max-width: 980px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
      }
      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
      }
    }
    &-value {
      background-color: #81d4fa10;
      color: #a1a1aa;
      border-radius: 10px;
      flex-wrap: wrap;
      padding: 4px;
      cursor: pointer;
    }
  }
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 30px;
  flex-direction: column;
}
.main-wrapper {
  width: 900px;
  background-color: #18181b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 980px) {
    width: 100%;
  }
  @media (max-width: 500px) {
    font-size: 14px;
  }
  @media (max-width: 350px) {
    font-size: 12px;
  }
}
.main-card {
  height: 100%;
}
.filters {
  padding: 4px 24px;
  color: #ffd700;
  font-weight: 600;
  cursor: pointer;
  width: min-content;
  margin-bottom: 8px;
}
.selected {
  color: #ffd700;
}
