.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 50px;
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
}
