.detail-container {
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 8px;
  color: #f5f5f5;
  @media (max-width: 980px) {
    padding: 10px 20px;
  }
  @media (max-width: 600px) {
    padding: 8px 16px;
  }
}
.person-name {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #ffdd57;
  @media (max-width: 980px) {
    font-size: 2.5rem;
  }
}

.person-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-content: space-between;
  @media (max-width: 980px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
}

.info-section {
  background-color: #18181b98;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h2 {
  font-size: 1.8rem;
  color: #ffdd57;
  margin-bottom: 15px;
  @media (max-width: 980px) {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
}

p {
  font-size: 1.1rem;
  margin: 10px 0;
  line-height: 1.5;
}
