:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  
}
body {
  margin: 0;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 70px;
  flex-direction: column;
}
.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.main-card{
  padding: 0;
}
.error {
  text-align: center;
  font-size: 1.8rem;
  color: #ff4757;
}
.filters{
  padding:4px 24px;
  color: #ffd700;
  font-weight:600 ;
  cursor: pointer;
}